@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Baskervville';
  src: url('../../public/fonts/Baskervville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Haskoy-reg';
  src: url('../../public/fonts/Haskoy-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Haskoy-med';
  src: url('../../public/fonts/Haskoy-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Haskoy-semi';
  src: url('../../public/fonts/Haskoy-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Haskoy';
  src: url('../../public/fonts/haskoy[wght].ttf') format('truetype');
}

@font-face {
  font-family: 'RosindaleDisplayNarrow-Regular';
  src: url('../../public/fonts/RoslindaleDisplayNarrow-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'RosindaleDisplayNarrow-Light';
  src: url('../../public/fonts/RoslindaleDisplayNarrow-Light.otf') format('opentype');
}

@font-face { 
  font-family: 'RoslindaleDisplayCondensed-Light'; 
  src: url('../../public/fonts/RoslindaleDisplayCondensed-Light-Testing.woff2') format('woff2'); 
}

@font-face {
  font-family: 'FamiljenGrotesk';
  src: url('../../public/fonts/FamiljenGrotesk-VariableFont_wght.ttf') format('truetype');
}

* {
  -webkit-text-size-adjust: 100%;
  font-family: haskoy-med
}

.hero_1_title {
  @apply text-6xl font-normal text-balance;
  font-family: 'RoslindaleDisplayCondensed-Light';
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
}

body, html {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  position: relative;
  text-rendering: geometricPrecision;
  background-color: rgb(251, 251, 253);
}

::selection {
  background-color: greenyellow;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-text {
  @apply text-xl font-normal text-balance text-stone-800;
  /* font-family: 'Haskoy'; */
  font-family: 'FamiljenGrotesk';
  font-weight: 100;
  font-size: 32px;
  line-height: 1.4;
  font-feature-settings: "ordn" on;
}

.rainbow-text {
  background: linear-gradient(to right, #2e0f84 10%, #375dfb 20%, #f17b2c 30%, #f2ae40 50%, #df1c41 70%, #38c793 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.dot {
  position: relative;
  background: rgb(226, 228, 244);
  width: 4px;
  height: 2px;
  border-radius: 10px;
}

